################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/101c#/JuniorLevel/.vs/CILamazing/v16/TestStore/0/testlog.manifest
/101c#/JuniorLevel/.vs/CILamazing/v16/TestStore/0/000-0000.testlog
/101c#/JuniorLevel/.vs/CILamazing/v16/TestStore/0
/101c#/JuniorLevel/.vs/101/v16/Server/sqlite3/storage.ide-wal
/101c#/JuniorLevel/.vs/101/v16/Server/sqlite3/storage.ide-shm
/101c#/JuniorLevel/.vs/101/v16/Server/sqlite3/storage.ide
/101c#/JuniorLevel/.vs/101/v16/Server/sqlite3/db.lock
/101c#/JuniorLevel/.vs/101/v16/Server/sqlite3
